name: test
on: push

jobs:
  test:
    runs-on: ubuntu-22.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v5
      - name: Build and test
        shell: bash
        run: |
          set -exo pipefail

          mkdir -p /root/ros2_ws/src/mypkg
          rsync -av ./ /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws

          source /opt/ros/humble/setup.bash

          colcon build
          source install/setup.bash

          bash -xv ./src/mypkg/test/test.bash /root

